<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='mountain.ico') }}">
    <title>About me</title>
</head>
<body>
    <h1>About me</h1>
    <p><a href="{{url_for('home')}}">Back to Home</a></p>
        <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
        velit..." </p>
        <p>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because
        it is pain..." </p>
</body>
</html>
